.tttt{
position: relative;
width: 500px;
height: 400px;
bottom: 200px;  
left: 200px;
}
.bbbb{
position: relative;
bottom: 245px;
}
.jjjj{
position: relative;
bottom: 245px;
}
.fff{
position: relative;
bottom: 200px;
}
.llll{
position: relative;
bottom: 188px;
}
.sss{
position: relative;
bottom: 24px;
left: 70px;
}
.gggg{
position: relative;
bottom: 245px;
left: 363px;
}

